<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <property name="log_dir" value="log"/>

    <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{"yyyy-MM-dd HH:mm:ss,SSS 'UTC'", UTC} %-5level [%thread] %logger %msg%n</Pattern>
        </encoder>
    </appender>
    <!--  Trace file appender configuration. -->
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/trace.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{"yyyy-MM-dd HH:mm:ss,SSS 'UTC'", UTC} %-5level [%thread] %logger %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log_dir}/trace_%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>8</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>8MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- Root logger. Use R appender for trace file logging and (or) C appender for console output.  -->
    <root level="INFO">
        <appender-ref ref="R"/>
        <appender-ref ref="C"/>
    </root>

    <logger name="com.j256.ormlite" level="ERROR"/>
    <logger name="io.rienel" level="DEBUG"/>

</configuration>